@import "tailwindcss";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  @apply text-4xl md:text-5xl font-semibold tracking-tight leading-tight;
}

h2 {
  @apply text-3xl md:text-4xl font-medium tracking-tight leading-snug;
}

h3 {
  @apply text-2xl md:text-3xl font-medium tracking-tight leading-snug;
}

h4 {
  @apply text-xl md:text-2xl font-medium leading-snug;
}

h5 {
  @apply text-lg font-medium leading-snug text-gray-800;
}

h6 {
  @apply text-base font-medium leading-snug text-gray-600 uppercase tracking-wide;
}

.big-title {
  font-size: clamp(1.5rem, 6vw, 4rem); /* responsive scaling */
  font-weight: 500;                  /* bold but not too heavy */
  line-height: 1.1;                  /* tighter for big titles */
  letter-spacing: -0.02em;           /* subtle negative tracking */
  color: #111;                       /* minimalist dark gray */
}


.global-margin {
  margin-inline: calc(var(--spacing) * 20) /* 5rem = 80px */;
}